.post {
    border-color: #2190ce;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    margin-left: 50px;
}

.head {

}

.btn-block {
    display: flex;
    flex-direction: row;
}

.btn {
    margin: 5px;
    padding: 10px;
    color: #F9C941;
    text-decoration: none;
    background-color: #21210e;
}

.current-page {
    margin: 5px;
    padding: 10px;
    color: #21210e;
    text-decoration: none;
    background-color: #F9C941;
}
